// BOX SIZING 
* {box-sizing: border-box; }
html, body { height: 100%; }


// RESPONSIVE TYPE SCALING PER BREAKPOINT
// 14px on Small Screens (mobile}
// 16px on Medium Screens (tablets}
// 18px on Large Screens (desktop+}



body {
    font-size: 87.5%; // 14px
    margin: 0;

}

.container {
    padding: 0 4%;
    margin: 0 auto;
}


@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%; // 16px
    }
}

@media (min-width: $breakpoint-medium) {
    .container {
        max-width: $breakpoint-medium - 50;
    }
}

@media (min-width: $breakpoint-large) {
    body {
        font-size: 112.5%; // 18px
    }
    .container {
        max-width: $breakpoint-medium;
    }
}


